.container{
    display: flex;
    flex-direction: row-reverse;
    width: 95%;

}

.text {
    width: 50%;
    height: auto;
    margin: 1rem;
    justify-content: center;
    align-self: center;
}

@media (max-width: 800px) {
    .container {
        flex-flow: column wrap;
    }
    .text {
        width: 90%;
    }
}