.container{
    display: flex;
    flex-direction: column;
    width: 95%;

}

.text {
    width: 50%;
    height: auto;
    margin: 1rem;
    padding-left: 1rem;
}

@media (max-width: 800px) {
    .container {
        flex-flow: column wrap;
    }
    .text {
        width: 90%;
    }
}