.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: auto;

    
}

.formContainer {
    width: 50%;
    height: auto;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 1rem;
    
}

.text {
    width: 50%;
    height: auto;
    padding-top: 1rem;
}

@media (max-width: 800px) {
    .container {
        flex-flow: column wrap;
    }
    .formContainer {
        width: 100%;
    }
    .text {
        width: 90%;
    }
    .form {
        width: 50%;
        gap: none;
    }
}





.form {
    display: flex;
    flex-flow: column wrap;
    height: auto;
    width: 100%;
    gap: .5rem;
    border: none;
}

.nameText {
    display: flex;
    gap: .5rem;
    margin-bottom: .5rem;
}

.nameInput {
    border-radius: 5px;
}

.emailText {
    display: flex;
    gap: .5rem;
    margin-bottom: .5rem;
}

.emailInput {
    border-radius: 5px;
}

.messageText {
    display: flex;
    width: 90%;
    margin-bottom: .5rem;

}

.messageInput{
    width: 90%;
    border-radius: 5px;
}

.button {
    width: 92%;
    color: black;
    border-radius: 5px;
    /* padding: .5rem; */
}