/* Styling for the headshot image */

.headshot {
    width: 20vw;
    border-radius: 25%;
    padding-top: 1rem;
}

.container {
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
    width: 90%;
    justify-content: space-between;
}

.aboutMe {
    padding: 1rem;
    margin: 1rem; 
    width: 50%;
    align-self: center;
}

@media (max-width: 800px) {
    .aboutMe {
        width: 90%;
    }
}