/* Style settings for the Vanta.js background */
.vanta {
    width: 100vw;
    height: 200%;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    padding-top: .5rem;
}
