/* This particular margin stops the background from being non central */
* {
    
    font-family: 'Ubuntu',sans-serif;
    font-size: 1.125rem;
    color: white;
    scroll-behavior: smooth;
}

/* Sets the page styling to be a flexbox */
body {
    margin: 0;
    display: flex; 
    flex-direction: column;
    
    /* position: relative; */
    /* z-index: -1; */
}

h3 {
    text-decoration: underline;
}

.divider {
    border: 1.5px solid white;
    width: 90%;
    align-self: center;
}

.light-divider {
    border: .5px solid white;
    width: 100%;
}

@media (max-width: 800px) {
    .light-divider {
        width: 90%;
    }
}